#root {
  margin: 0 auto;
  text-align: center;
}

html{
  overflow: scroll;
  background-color: rgb(249 250 251);
}

:root{
      --complaint-color: #043D66;
      --feeling-color: #699F96;
      --underlyingFeeling-color: #935A5A;
      --need-color: #93b1c9;
}

.header{
  display: grid;
  background-color: rgba(249, 250, 251, 0.9);
  z-index: 99;
  grid-template-columns: 1fr 180px 1fr;
  height: 80px;
  position: fixed;
  width: 100%;
  box-shadow: 0 1px 5px 5px #F9FAFBE6;
}

.searchContainer {
  position: relative;
  margin: auto;
  width: 80px;
  display: flex;

}

.searchContainer input {
  display: inline-block;
  padding-left: 20px;
  width: 80px;
  height: 30px;
}

.searchContainer .SearchIcon {
  position: absolute;
  display: inline-block;
  left: 10px;
  pointer-events: none;
  top: .6rem;
}

.container{
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container.empathy{
  top: 90px;
  height: calc(100vh - 110px);
  justify-content: flex-start;
}

.listDiv{
    width: 180px;
    height: 80px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #FEFEFE;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.listDiv.feelings{
  background-color: var(--feeling-color)
}

.listDiv.complaints {
  background-color: var(--complaint-color)
}

.bg {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(204, 204, 204, 0.198);
  backdrop-filter: blur(2px);
}

.popup{
  width: 280px;
  height: 340px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FEFEFE;
  /* box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.956); */
  border-radius: 5px;
}